
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1818;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    color: rgb(39, 35, 35);
    padding: 10px 0;
    background-color: #4CAF50;
    color: rgb(36, 32, 32);
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    position: relative;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li:hover .dropdown-menu {
    display: block;
    
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 40px;
    z-index: 1000;
  }
  
  .dropdown-menu a {
    color: white;
    display: block;
    padding: 10px 20px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
    /* Responsive Styles for Smaller Screens */
@media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .dropdown-menu {
      width: 100%;
    }
  
    .music-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .music-item div {
      margin-bottom: 10px;
    }
  
    form {
      width: 100%;
      padding: 10px;
    }
  
    footer {
      position: relative;
    }
  }

/* Responsive Design for Smaller Screens */

@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  .music-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .music-item div {
    margin-bottom: 10px;
  }

  .music-item form {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    right: 0;
    left: 0;
  }

  .dropdown-menu a {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }
}
